.container {
    background-color: white;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 30px;
}

.counter1 {
    color: red;
    text-align: center;
}

.counter2 {
    color: blue;
    text-align: center;;
}