$primary-color: #7F3713;
$secondary-color: #FFA172;
$tertiary-color: #FF6F25;
$fourth-color: #7F5139;
$fifth-color: #CC581E;

$border-color: $tertiary-color;
$shadow-color: $primary-color;

$text-color: #000;
