$primary-color: #FFA200;
$secondary-color: #00A03E;
$tertiary-color: #24A8AC;
$fourth-color: #0086CA;
$fifth-color: #972394;

$border-color: $tertiary-color;
$shadow-color: $primary-color;

$text-color: #000;
