.LOADING {
    color: red;
}
.CARD_CONTAINER {
    background-color: rgb(249, 6, 93);
    color: white;
    width: 400px;

}

.CARD {
    border: 1px solid white;
    padding: 10px;
    cursor: move;
}
