@import '../../constants/variables';

.container {
    display: flex;
    flex-direction: row;
}
.table {
    width: 400px;
}
.keys {
    font-weight: bold;
    color: $text-color;
}
.info {
    padding: 20px;
    float: left;
    color: $text-color;
}

.meta {
    padding: 20px;
    float: right
}